<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ../layouts/stylesheet %>
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../../web-files/assets/icon/icofont/css/icofont.css">
      <!-- feather Awesome -->
  <link rel="stylesheet" type="text/css" href="/../../web-files/assets/icon/feather/css/feather.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css"
          href="../../web-files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../../web-files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="../../web-files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</head>

<body>
    <div id="jsLoader">
        <div style="top: 40%; left: 0px;" class="loader">
            <div class="loader-chiled"></div>
        </div>
    </div>
<% if (messages.length > 0) { %>
    <div id='jsErr' class="show success">
        <p><%= messages %></p>
        <div class="relative w-full sm:w-1/2 bg-gray-200">
            <div style="width: 100%" class="absolute top-0 h-4 shim-red"></div>
        </div>
    </div>
<% } %>
<% include ../layouts/preloader %>
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <% include ../layouts/navbar %>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <% include ../layouts/leftbar %>
                <div id='jsErr' class="toast-err">
                    <p>Connection timeout.</p>
                    <div class="relative w-full sm:w-1/2 bg-gray-200">
                        <div style="width: 100%" class="absolute top-0 h-4 shim-red"></div>
                    </div>
                </div>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-block">
                                                    <% if (user.is_admin) { %>
                                                        <a href="/admin/create-admin" class="btn btn-primary mb-3">Add Admin User</a>
                                                    <% } %>
                                                    <div class="dt-responsive table-responsive">
                                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>E-mail</th>
                                                                <th>Mobile</th>
                                                                <th>Address</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <% let index = 0 %>
                                                            <% listUsers.forEach(function(staff){ %>
                                                                <tr>
                                                                    <td><%= index += 1 %></td>
                                                                    <td><%= !staff.fullname ? 'N/A' : staff.fullname  %> <i title="No invitation accepted" class="<%= staff.is_admin_invitation_accepted ? '' : 'feather icon-alert-circle' %>"></i></td>
                                                                    <td><%= !staff.email ? 'N/A' : staff.email %></td>
                                                                    <td><%= !staff.mobile ? 'N/A' :
                                                                                staff.mobile.length <= 15 ? ('(+' + (staff.mobile_country_code ? staff.mobile_country_code : '61') + ') ' + staff.mobile.replace('+' + staff.mobile_country_code || '61', '')) : staff.mobile.substring(0, 15).concat('...') %></td>
                                                                    <td><%= !staff.address_line_1 && !staff.address_line_2 ? 'N/A' :
                                                                                (staff.address_line_1 + staff.address_line_2).length <= 15 ? (staff.address_line_1 +", "+ staff.address_line_2) : (staff.address_line_1 +", "+ staff.address_line_2).substring(0, 15).concat('...') %></td>
                                                                    <td><span style="<%= staff.is_active === 1 ? 'color: #0ac282 !important;' : staff.is_active === 2 ? 'color: #868e96 !important;' : 'color: #f6d807 !important;' %>""><%= staff.is_active === 1 ? "Active" : staff.is_active === 2 ? "Inactive" : "Pending" %></span></td>
                                                                    <td>
                                                                        <input type="hidden" value="<%= staff %>">
                                                                        <a href="/admin/edit-admin/<%= staff._id %>" class="btn btn-sm btn-outline-info">
                                                                            &nbsp<i class="icofont icofont-edit-alt" style="font-size: 16px;"></i></a>
                                                                        <% if (staff._id.toString() !== user._id.toString()) { %>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                                                                data-target="#<%= staff._id %>"><i class="icofont <%= staff.is_active == 1 ? 'icofont-trash' : 'icofont-unlock' %>" style="font-size: 16px;"></i></button>
                                                                        <% } %>
                                                                        <button data-id="<%= staff._id %>" data-my="<%= staff.is_support %>" title="Support" class="btn btn-sm btn-outline-info jsActiveSupport">
                                                                            <i class="icofont icofont-live-support" style="font-size: 18px; <%= staff.is_support ? 'color: #19a7ba;' : 'color: #7c7c7c;' %>"></i>
                                                                        </button>
                                                                    </td>
                                                                    <div class="modal fade" id="<%= staff._id %>" tabindex="-1" role="dialog">
                                                                        <form action="/admin/block-admin/<%= staff._id %>" method="POST">
                                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-body">
                                                                                        <h5>Are you sure you want to <%= staff.is_active === 1 ? 'block' : 'unblock' %> <b><%= staff.fullname %></b> ?</h5>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default waves-effect"
                                                                                                data-dismiss="modal">No</button>
                                                                                        <button  type="submit"
                                                                                                 class="btn btn-primary waves-effect waves-light ">Yes</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </tr>
                                                            <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Zero config.table end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../layouts/script %>
<!-- data-table js -->
<script src="../../web-files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../web-files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript" src="../../web-files/bower_components/bootstrap-maxlength/js/bootstrap-maxlength.js">
</script>
<!-- modalEffects js nifty modal window effects -->
<script type="text/javascript" src="../../web-files/assets/js/modalEffects.js"></script>
<script type="text/javascript" src="../../web-files/assets/js/classie.js"></script>
<!-- i18next.min.js -->
<script type="text/javascript" src="../../web-files/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="../../web-files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js">
</script>
<script type="text/javascript"
        src="../../web-files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js">
</script>
<script type="text/javascript" src="../../web-files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script type="text/javascript" src="../../web-files/assets/pages/staffs/script.js"></script>
<!-- Custom js -->
<script src="../../web-files/assets/pages/data-table/js/data-table-custom.js"></script>
<script>
    $('.jsActiveSupport').click(function() {
        //showLoading();
        let id = $(this).data("id");
        let isSupport = $(this).data("my");
        let token = $('input[name="_csrf"]').val();
        $.ajax({
        dataType: "json",
        method: "POST",
        url: `/admin/users/support`,
        data: {
          _csrf: token,
          is_support: !isSupport,
          user_id: id
        },
        success: function (responsive) {
          if (responsive.success) {
            if(responsive.result.is_support == 'true') {
                $(`button[data-id="${id}"]`).html(`<i class="icofont icofont-live-support" style="font-size: 18px; color: #19a7ba;"></i>`);
                $(`button[data-id="${id}"]`).data('my', true);
            } else {
                $(`button[data-id="${id}"]`).html(`<i class="icofont icofont-live-support" style="font-size: 18px; color: #7c7c7c;"></i>`);
                $(`button[data-id="${id}"]`).data('my', false);
            }
            showToast("success", "Update successfully.");
          } else {
            showToast("error", "Can not connect to server. Please try again.");
          }
          hidenLoading();
          return true;
        },
        error: function () {
          hidenLoading();
          showToast("error", "Can not connect to server. Please try again.");
          return false;
        },
      });
    });
    function showLoading() {
        $('#jsLoader').addClass('show');
    }

    function hidenLoading() {
        setTimeout(function () {
        $('#jsLoader').removeClass('show');
        }, 500);
    }

    //show toast
    function showToast(name, mess) {
        $('#jsErr').removeClass();
        $('#jsErr').addClass(`show ${name}`);
        $('#jsErr p').text(mess);
        setTimeout(() => {
        $('#jsErr').removeClass(`show ${name}`);
        }, 2500);
    }
</script>
</body>

</html>
