<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../layouts/stylesheet %>
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="../../web-files/assets/icon/icofont/css/icofont.css">
  <!-- Data Table Css -->
  <link rel="stylesheet" type="text/css"
    href="../../web-files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="../../web-files/assets/pages/data-table/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css"
    href="../../web-files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
  <link href="/../../web-files/assets/css/select2.min.css" rel="stylesheet" />
</head>

<body>
  <% include ../layouts/preloader %>
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      <% include ../layouts/navbar %>
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <% include ../layouts/leftbar %>
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <!-- Main-body start -->
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- Page-body start -->
                  <div class="page-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- Zero config.table start -->
                        <input hidden name="isFirstLogin" value="<%= isFirstLogin %>">
                        <input hidden name="_csrf" value="<%= csrfToken %>">
                        <div class="card">
                          <div class="card-block">
                            <div class="dt-responsive table-responsive">
                              <div class="row">
                                <% if (role === 'Admin') { %>
                                  <div class="col-lg-2 col-md-3 col-sm-6">
                                    <a href="/admin/groups" style="padding: .5rem .75rem;" class="btn btn-primary mb-3">Manage Groups</a>
                                  </div>
                                <% } %>
                                  <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                    <select id="jsFilterGroup" class="form-control">
                                      <option value="0">Choose Group</option>
                                      <% groups?.forEach(function(item) { %>
                                        <option value="<%= item._id %>"><%= item.group_name %></option>
                                      <% }) %>
                                    </select>
                                  </div>
                                <div class="mb-3 col-lg-2 col-md-3 col-sm-6">
                                  <select id="jsFilterPayroll" class="form-control d-inline-block">
                                    <option value="0">Choose Payroll</option>
                                    <% payrolls?.forEach(function(item) { %>
                                      <option value="<%= item._id %>"><%= item.system_name %></option>
                                    <% }) %>
                                  </select>
                                </div>
                                <div class="mb-3 col-lg-2 col-md-4 col-sm-6 %>">
                                  <select id="jsFilterConnection" class="form-control d-inline-block">
                                    <option value="0">Choose Connection</option>
                                    <option value="false">Connected</option>
                                    <option value="true">Disconnected</option>
                                  </select>
                                </div>
                                <div class="<%= role === 'Admin' ? 'col-lg-3' : 'col-lg-5' %>">
                                  <form id="jsCompanySearch" style="float: right;">
                                    <div class="input-group mb-0">
                                      <input name="company-name" type="text" class="form-control"
                                        placeholder="Search this name">
                                      <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">
                                          <i class="icofont icofont-ui-search"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <table id="companyTable" style="width: 100%;" class="table table-striped table-bordered nowrap">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Group</th>
                                    <th>Company Name</th>
                                    <th>System Name</th>
                                    <th>Connection Status</th>
                                    <th>Address</th>
                                    <th>ABN</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!-- Zero config.table end -->
                      </div>
                    </div>
                  </div>
                  <!-- Page-body end -->
                </div>
              </div>
              <!-- Main-body end -->
              <!-- <div id="styleSelector">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../layouts/script %>
  <!-- data-table js -->
  <script src="../../web-files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  <script type="text/javascript" src="../../web-files/bower_components/bootstrap-maxlength/js/bootstrap-maxlength.js">
  </script>
  <!-- modalEffects js nifty modal window effects -->
  <script type="text/javascript" src="../../web-files/assets/js/modalEffects.js"></script>
  <script type="text/javascript" src="../../web-files/assets/js/classie.js"></script>
  <script src="../../web-files/assets/js/select2.min.js"></script>
  <!-- i18next.min.js -->
  <script type="text/javascript" src="../../web-files/bower_components/i18next/js/i18next.min.js"></script>
  <script type="text/javascript" src="../../web-files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js">
  </script>
  <script type="text/javascript"
    src="../../web-files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js">
  </script>
  <script type="text/javascript" src="../../web-files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
  <!-- Custom js -->
  <script>
    var role = <%- JSON.stringify(role) %>;
  </script>
  <script src="../../web-files/assets/pages/data-table/js/data-table-custom.js"></script>
  <script src="../../web-files/assets/pages/data-table/js/listCompany-dataTable.js"></script>
  <script src="../../web-files/assets/pages/auth/check-first-login.js"></script>
</body>

</html>