<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../layouts/stylesheet %>
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="../../web-files/assets/icon/icofont/css/icofont.css">
  <!-- Data Table Css -->
  <link rel="stylesheet" type="text/css"
    href="../../web-files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="../../web-files/assets/pages/data-table/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css"
    href="../../web-files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</head>

<body>
  <% include ../layouts/preloader %>
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      <% include ../layouts/navbar %>
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <% include ../layouts/leftbar %>
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <!-- Main-body start -->
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- Page-header start -->
                  <div class="page-header">
                    <div class="row align-items-end">
                      <div class="col-lg-8">
                        <div class="page-header-title">
                          <div class="d-inline">
                            <h4>Table List Post</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                          <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                              <a href="/admin"> <i class="feather icon-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Page Content</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Blog</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Post</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Page-header end -->

                  <!-- Page-body start -->
                  <div class="page-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h4>Edit Heading Blog Area</h4>
                            <div class="card-header-right"><i class="icofont icofont-spinner-alt-5"></i></div>
                          </div>
                          <form action="/admin/update-header-blog/?_csrf=<%=csrfToken%>" method="POST">
                            <div class="card-block">
                              <div class="form-group row">
                                <div class="col-sm-2">
                                  <label class="col-form-label">Title Header<i style = color:red>*</i></label>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" maxlength="50" class="form-control" name="titleHeader"
                                  value="<%= header[0].title %>" placeholder="Enter Title Less Than 50 Character">
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-2">
                                  <label class="col-form-label">Description<i style = color:red>*</i></label>
                                  <label>(Maximum 200 characters)</label>
                                </div>
                                <div class="col-sm-10">
                                  <textarea type="text" type="text" class="form-control" rows="5" cols="5"
                                    class="form-control" name="desHeader" placeholder="Enter Description"><%= header[0].description.replace(/<[^>]*>/g, '') %></textarea>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                  <label for="">Show or hide Blog area</label>
                                </div>
                                <div class="col-sm-2">
                                  <label class="col-form-label">Status</label>
                                </div>
                                <div class="col-sm-10">
                                  <select name="status" class="form-control">
                                    <option value="true" <%= header[0].status === true ? 'selected' : '' %>>Show
                                    </option>
                                    <option value="false" <%= header[0].status === false ? 'selected' : '' %>>Hide
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-2"></label>
                                <div class="col-sm-10">
                                  <button id="add_submit_btn" type="submit" class="btn btn-primary m-b-0">Submit</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- Zero config.table start -->
                        <div class="card">
                          <div class="card-header">
                            <h4 class="float-left">List Post</h4>
                            <a href="/admin/add-blog-post">
                              <button type="button" class="btn btn-info float-right">Add New
                                Post</button>
                            </a>
                          </div>
                          <div class="card-block">
                            <div class="dt-responsive table-responsive">
                              <table id="simpletable" class="table table-striped table-bordered nowrap">
                                <thead>
                                  <tr>
                                    <th>STT</th>
                                    <th>Title</th>
                                    <th>Short Content</th>
                                    <th>Content</th>
                                    <th>Author</th>
                                    <th>Status</th>
                                    <th>Actiton</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <%  data.forEach(function(post, index){ %>
                                    <tr>
                                      <td><%= index + 1 %></td>
                                      <td><%= post.title %></td>
                                      <td><%- post.shortContent.substring(0, 10) %>...</td>
                                      <td><%- post.content.substring(0, 10) %>...</td>
                                      <td><%= post.author %></td>
                                      <td>
                                        <% if(post.status) { %>
                                          Active
                                        <% } else { %>
                                          Disable
                                        <% } %>
                                      </td>
                                      <td>
                                        <a href="/admin/edit-blog-post/<%= post._id %>">
                                          <button class="btn btn-sm btn-primary">
                                            <i class="icofont icofont-pencil-alt-1"></i>
                                          </button>
                                        </a>
                                        <a href="/admin/delete-blog-post/<%= post._id %>">
                                          <button class="btn btn-sm btn-danger">
                                            <i class="icofont icofont-trash"></i>
                                          </button>
                                        </a>
                                      </td>
                                      <% }); %>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!-- Zero config.table end -->
                      </div>
                    </div>
                  </div>
                  <!-- Page-body end -->
                </div>
              </div>
              <!-- Main-body end -->
              <div id="styleSelector">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../layouts/script %>
  <!-- data-table js -->
  <script src="../../web-files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../web-files/assets/pages/data-table/js/jszip.min.js"></script>
  <script src="../../web-files/assets/pages/data-table/js/pdfmake.min.js"></script>
  <script src="../../web-files/assets/pages/data-table/js/vfs_fonts.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../web-files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  <script type="text/javascript" src="../../web-files/bower_components/bootstrap-maxlength/js/bootstrap-maxlength.js">
  </script>
  <!-- i18next.min.js -->
  <script type="text/javascript" src="../../web-files/bower_components/i18next/js/i18next.min.js"></script>
  <script type="text/javascript" src="../../web-files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js">
  </script>
  <script type="text/javascript"
    src="../../web-files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js">
  </script>
  <script type="text/javascript" src="../../web-files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
  <!-- Custom js -->
  <script src="../../web-files/assets/pages/data-table/js/data-table-custom.js"></script>
  <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
</body>

<script>
  CKEDITOR.on('instanceReady', function( ev ) {
    var blockTags = ['div','h1','h2','h3','h4','h5','h6','p','pre','li','blockquote','ul','ol',
    'table','thead','tbody','tfoot','td','th',];

    for (var i = 0; i < blockTags.length; i++)
    {
      ev.editor.dataProcessor.writer.setRules( blockTags[i], {
          indent : false,
          breakBeforeOpen : true,
          breakAfterOpen : false,
          breakBeforeClose : false,
          breakAfterClose : true
      });
    }
  });
  
  var edit = CKEDITOR.replace('desHeader');
  edit.on('change', function(e) {
    var values = edit.getData();
    if(values.replace(/<[^>]*>?/gm, '').length < 1){
      $('.messages').html('<p class="text-danger mt-3">Description is required.</p>');
      $('#add_submit_btn').addClass('d-none');
    }
    else if(values.replace(/<[^>]*>?/gm, '').length > 200){
      $('.messages').html('<p class="text-danger mt-3">Maximum is 200 characters!</p>');
      $('#add_submit_btn').addClass('d-none');
    }   
    else{
      $('#add_submit_btn').removeClass('d-none');
      $('.messages').html('');
    }
  });
</script>

</html>
