<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ../layouts/stylesheet %>
</head>

<body>
    <% include ../layouts/preloader %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <% include ../layouts/navbar %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <% include ../layouts/leftbar %>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <form action="/admin/edit-staff-user/<%= user._id %>?_csrf=<%= csrfToken %>"
                                            method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>Edit <%= user.fullname %></h4>
                                                            <hr>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-xl-3 m-b-30">
                                                                    <img style="width: 100%;" src="<%= user.avatar_path %>" alt="Photo"
                                                                        id="image-upload" class="img-fluid">
                                                                    <span class="messagesImage"></span>
                                                                    <% if(messages.length > 0) { %>
                                                                    <div class="alert alert-danger mt-3">
                                                                        <button type="button" class="close"
                                                                            data-dismiss="alert" aria-label="Close">
                                                                            <i
                                                                                class="icofont icofont-close-line-circled"></i>
                                                                        </button>
                                                                        <%= messages %>
                                                                    </div>
                                                                    <% } else { %>
                                                                    <span class="messagesSuggestion"></span>
                                                                    <% } %>
                                                                    <div class="form-group mt-3">
                                                                        <input type="file" class="form-control"
                                                                            id="upload-path" name="avatar_path">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-xl-9 m-b-30 pl-5">
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">First name</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control"
                                                                                name="first_name" maxlength="50"
                                                                                value="<%= user.first_name %>" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Last name</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control"
                                                                                name="last_name" maxlength="50"
                                                                                value="<%= user.last_name %>" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Email</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="email" class="form-control"
                                                                                readonly name="email"
                                                                                value="<%= user.email %>">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Sex</label>
                                                                        <div class="col-sm-10">
                                                                            <select name="male_femal" class="form-control">
                                                                                <option value=-1 <%= !user.male_femal ? 'selected' : '' %>>Choose sex</option>
                                                                                <option value=0 <%= user.male_femal === 0 ? 'selected' : '' %>>Male</option>
                                                                                <option value=1 <%= user.male_femal === 1 ? 'selected' : '' %>>Female</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Phone</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control"
                                                                                name="mobile" maxlength="11"
                                                                                value="<%= user.mobile ? user.mobile : 'N/A' %>">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Birthday</label>
                                                                        <div class="col-sm-10">
                                                                            <% const birth_date = user.birth_date ? user.birth_date.toJSON() : null %>
                                                                            <input type="date" class="form-control"
                                                                                name="birth_date"
                                                                                value="<%= birth_date ? birth_date.slice(0, 10) : 'N/A' %>">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label
                                                                            class="col-sm-2 col-form-label">Address</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control"
                                                                                name="address"
                                                                                value="<%= user.address ? user.address : '' %>">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="col-sm-2"></label>
                                                                        <div class="col-sm-10">
                                                                            <button id="btn_submit" type="submit"
                                                                                class="btn btn-primary m-b-0">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../layouts/script %>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="../../web-files/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="../../web-files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js">
    </script>
    <script type="text/javascript"
        src="../../web-files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js">
    </script>
    <script type="text/javascript" src="../../web-files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <script>
        function readImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-upload').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#upload-path').change(function () {
            console.log(this.files[0]);
            readImage(this);
        });
    </script>

    <script>
        $('.messagesSuggestion').html(
            '<div class="alert alert-success mt-3 text-center pt-1"><p style="font-size: 16px" m-0>Image should have width = <b>512px</b> and height = <b>512px</b></p></div>'
            );
        var srcElement = document.getElementById('btn_submit');
        var _URL = window.URL || window.webkitURL;
        $("#upload-path").change(function (e) {
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    if (this.width > 512 && this.height > 512) {
                        $('.messagesImage').html(
                            '<div class="alert alert-danger mt-3 text-center p-0"><i class="icofont icofont-warning" style="font-size: 30px;"></i><p style="font-size: 18px;"> Invalid Image. Please upload file image has width = <b>512px</b> and height = <b>512px</b></p>' +
                            '<p>(Your image have width = ' + this.width + 'px and height = ' + this
                            .height + 'px)</p></div>');
                        $('.messagesSuggestion').html('');
                        srcElement.style.display = 'none';
                    } else {
                        $('.messagesImage').html(
                            '<div class="alert alert-success mt-3 text-center p-0"><p class="text-success mt-3" style="font-size: 16px"><i class="icofont icofont-tick-mark ml-2" style="font-size: 25px;"></i><b> Ready to upload!</b></p><div>'
                            );
                        $('.messagesSuggestion').html('');
                        srcElement.style.display = 'block';
                    }
                    // alert(this.width + " " + this.height);
                };
                img.src = _URL.createObjectURL(file);
            }
        });
    </script>
</body>

</html>